	<h1> Link Shortener THIS IS SHOW</h1>
		<p>Your URL is: /<%= @url%></p>

	<h2> <%= link_to "Add another!", home_path %> <h2>

<p><%= link_to "Last visited", last_visited_path %></p>
<p><%= link_to "Most visited", most_visited_path %></p>
	<p>Ironhack powered. - 2015</p>